.container{
    margin-bottom: 30px;
}

.first{
    float: right;
    cursor: pointer;
}

.badge-notify{
    background: red;
    position: relative;
    top: -20px;
    right: 40px;
    font-family: sans-serif;
}

#addNewProduct{
    background: transparent;
    border: 2px solid black;
    padding: 10px 15px;
    color: black;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom:30px;
}

.btn-danger{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* for deletion*/
.btn{
    padding: 10px 20px;
    background: transparent;
    border: 2px solid black;
}

.btn-info{
    background: #34495e;
    padding: 10px 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
